export COMPOSE_PROJECT_NAME="sherpa-dash" # keep

alias td="docker_compose_up && iex -S mix test --trace"

export HIBOB_TOKEN=
export HIBOB_EMPLOYEE_ID=

export MIN_DAYS_I_WORK=
export MAX_DAYS_I_WORK=
