export COMPOSE_PROJECT_NAME="sherpa-dash" # keep

alias td="docker_compose_up && iex -S mix test --trace"

export HIBOB_TOKEN=
export HIBOB_EMPLOYEE_ID=

export MIN_DAYS_I_WORK=
export MAX_DAYS_I_WORK=

export GOOGLE_OAUTH_CLIENT_ID=
export GOOGLE_OAUTH_CLIENT_SECRET=

mid_dev_hook() {
  __open_localhost
}

__open_localhost() {
  is_url_open_in_browser "localhost:4000" && return

  open http://localhost:4000/
}
