<.flash_group flash={@flash} />
<%= case @result do %>
  <% [min_days, max_days] -> %>
    <p>Minimum days remaining: {min_days}</p>
    <p>Maximum days remaining: {max_days}</p>
  <% _ -> %>
    <p>No data available</p>
<% end %>
